<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pawstar - lisek.io</title>
    <link rel="stylesheet" href="/static/style.css?v={{ git_hash }}">
</head>
<body>
    <div class="card">
        <img src="/static/fuzzy.jpg" alt="pawstar">
        <div class="card-info">
            <h1>pawstar</h1>
            <h2>she/her</h2>
        </div>
    </div>
    <div class="links">
        <a class="link" href="https://www.youtube.com/channel/UCUkf6I7vp37T8UDyqOuhboQ">
            <img src="/static/icons/youtube.svg" alt="youtube">
        </a>
        <a class="link" href="https://www.twitch.tv/kosmicznawapka">
            <img src="/static/icons/twitch.svg" alt="twitch">
        </a>
        <a class="link" href="https://github.com/kosmiczna">
            <img src="/static/icons/github.svg" alt="github">
        </a>
        <a class="link" href="https://steamcommunity.com/profiles/76561199033653351">
            <img src="/static/icons/steam.svg" alt="steam">
        </a>
        <a class="link" href="https://namemc.com/profile/afuzzy.2">
            <img src="/static/icons/namemc.ico" alt="namemc">
        </a>
        <a class="link" href="https://scoresaber.com/u/76561199033653351">
            <img src="/static/icons/scoresaber.svg" alt="scoresaber">
        </a>
        <a class="link" href="https://pawstar.pl">
            <img src="/static/icons/globe.svg" alt="website">
        </a>
        <a class="link" href="email">
            <img src="/static/icons/mail.svg" alt="email">
        </a>
    </div>
    <div class="duo">
        <div class="card col" id="about-card">
            <h3>about</h3>
            <p class="bio">fox on the internet <br> i make things... sometimes</p>
        </div>
        <div class="card col" id="time-card">
            <h3>my time</h3>
            <div id="clock">--:--:--</div>
            <div class="status"><span class="dot" id="dot"></span><span id="status-text"></span></div>
        </div>
    </div>
    <div class="card col" id="ss-card">
        <div class="ss-label"><img src="/static/icons/scoresaber.svg" alt=""> scoresaber</div>
        <div class="ss-head">
            <img id="ss-avatar" src="https://cdn.scoresaber.com/avatars/76561199033653351.jpg" alt="scoresaber avatar">
            <div class="ss-id">
                <h1 id="ss-name">pawstar</h1>
                <h2 id="ss-country"><img class="ss-flag" id="ss-flag" src="" alt=""><span id="ss-country-text"></span></h2>
            </div>
            <div class="ss-pp">
                <span id="ss-pp"></span>
            </div>
        </div>
        <div class="statrow">
            <div><small>Global</small><span id="ss-rank"></span><span class="trend" id="ss-rank-change"></span></div>
            <div><small>Country</small><span id="ss-country-rank"></span></div>
            <div><small>Ranked acc</small><span id="ss-acc"></span></div>
            <div><small>Plays</small><span id="ss-plays"></span></div>
        </div>
    </div>
    <footer>
        <p>site made and maintained by me - copyright 2026</p>
        <p>view the source code <a href="https://github.com/kosmiczna/lisek.io">here</a> - {{ git_hash }}</p>
    </footer>
    <script src="/static/script.js?v={{ git_hash }}"></script>
</body>
</html>
