<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pawstar - lisek.io</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="card">
        <img src="/static/fuzzy.jpg" alt="pawstar">
        <div class="card-info">
            <h1>pawstar</h1>
            <h2>she/her</h2>
        </div>
    </div>
    <div class="links">
        <a class="link" href="https://www.youtube.com/channel/UCUkf6I7vp37T8UDyqOuhboQ">
            <img src="/static/icons/youtube.svg" alt="youtube">
        </a>
        <a class="link" href="https://www.twitch.tv/kosmicznawapka">
            <img src="/static/icons/twitch.svg" alt="twitch">
        </a>
        <a class="link" href="https://github.com/kosmiczna">
            <img src="/static/icons/github.svg" alt="github">
        </a>
        <a class="link" href="https://steamcommunity.com/profiles/76561199033653351">
            <img src="/static/icons/steam.svg" alt="steam">
        </a>
        <a class="link" href="https://namemc.com/profile/afuzzy.2">
            <img src="/static/icons/namemc.ico" alt="namemc">
        </a>
        <a class="link" href="https://scoresaber.com/u/76561199033653351">
            <img src="/static/icons/scoresaber.svg" alt="scoresaber">
        </a>
        <a class="link" href="https://pawstar.pl">
            <img src="/static/icons/globe.svg" alt="website">
        </a>
        <a class="link" href="mailto:contact@pawstar.pl">
            <img src="/static/icons/mail.svg" alt="email">
        </a>
    </div>
    <footer>
        <p>site made and maintained by me - view the source <a href="https://github.com/kosmiczna/lisek.io">here</a> - copyright 2026</p>
    </footer>
</body>
</html>
