<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pawstar - lisek.io</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="card">
        <img src="/static/fuzzy.jpg" alt="pawstar">
        <h1>pawstar</h1>
        <h2>she/her</h2>
    </div>
    <div class="links">
        <a class="link" href="https://pawstar.pl">
            <img src="/static/icons/globe.svg" alt="website">
        </a>
        <a class="link" href="https://youtube.com/@kosmicznawapka">
            <img src="/static/icons/youtube.svg" alt="youtube">
        </a>
        <a class="link" href="https://www.twitch.tv/kosmicznawapka">
            <img src="/static/icons/twitch.svg" alt="twitch">
        </a>
        <a class="link" href="https://github.com/kosmiczna">
            <img src="/static/icons/github.svg" alt="github">
        </a>
    </div>
    <footer>
        <p>site made and maintained by me - view the source <a href="https://github.com/kosmiczna/lisek.io">here</a> - copyright 2026</p>
    </footer>
</body>
</html>
